= render 'shared/side_bar'
.right-contents
  .right-contents__menu
    .right-contents__menu__box
      .right-contents__menu__box--group
        = @group.name
      .right-contents__menu__box--name
        Member: 
        = @users.pluck(:name).join(", ")
    .right-contents__menu__btn
      = link_to 'Edit', edit_group_path(@group),data: {"turbolinks" => false}
  .right-contents__maine
    = render partial: 'message', collection: @messages
  .right-contents__footer
    .right-contents__footer__box
      .right-contents__footer__box--message
        = form_for [@group, @message] do |f|
          =f.text_field :text, class: 'form__message', placeholder: 'type a message'
          .right-contents__footer__box--message--image
            %div.border
            =f.label :image do
              =fa_icon 'picture-o', class: 'fa-lg'
              =f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'send'
